<!DOCTYPE html>
<html lang="en" >
<head>
    {% include 'includes/meta.twig' %}
</head>

<body class="auth-wrapper">

{% block content %}{% endblock %}


{% include 'includes/footer.twig' %}

</body>
</html>
